In [2]:
import pandas as pd
from preprocessing_functions import *

In [3]:
skills = pd.read_csv("v1.0.8/skills_pt.csv")
occupations = pd.read_csv("v1.0.8/occupations_pt.csv")
occ_skills_relation = pd.read_csv("v1.0.8/occupationSkillRelations.csv")

In [4]:
skills.rename(columns={'conceptUri': 'skillUri'}, inplace=True)
occupations.rename(columns={'conceptUri': 'occupationUri'}, inplace=True)

In [5]:
skills.info()
skills.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13485 entries, 0 to 13484
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   conceptType     13485 non-null  object
 1   skillUri        13485 non-null  object
 2   skillType       13485 non-null  object
 3   reuseLevel      13485 non-null  object
 4   preferredLabel  13485 non-null  object
 5   altLabels       594 non-null    object
 6   hiddenLabels    32 non-null     object
 7   status          13485 non-null  object
 8   modifiedDate    13485 non-null  object
 9   scopeNote       0 non-null      float64
 10  definition      0 non-null      float64
 11  inScheme        13485 non-null  object
 12  description     13485 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.3+ MB

,conceptType,skillUri,skillType,reuseLevel,preferredLabel,altLabels,hiddenLabels,status,modifiedDate,scopeNote,definition,inScheme,description
0,KnowledgeSkillCompetence,http://data.europa.eu/esco/skill/0005c151-5b5a...,skill/competence,sector-specific,gerir músicos,NaN,NaN,released,2016-12-20T17:43:43Z,NaN,NaN,http://data.europa.eu/esco/concept-scheme/skil...,Atribuir e gerir as tarefas do pessoal em área...
1,KnowledgeSkillCompetence,http://data.europa.eu/esco/skill/00064735-8fad...,skill/competence,occupation-specific,supervisionar procedimentos correcionais,NaN,NaN,released,2020-06-12T06:40:42.536Z,NaN,NaN,http://data.europa.eu/esco/concept-scheme/memb...,Supervisionar as operações de uma instalação c...
2,KnowledgeSkillCompetence,http://data.europa.eu/esco/skill/000709ed-2be5...,skill/competence,sector-specific,aplicar práticas anti-repressivas,NaN,NaN,released,2016-12-20T19:18:19Z,NaN,NaN,http://data.europa.eu/esco/concept-scheme/skil...,"Identificar a repressão em sociedades, economi..."
3,KnowledgeSkillCompetence,http://data.europa.eu/esco/skill/0007bdc2-dd15...,skill/competence,sector-specific,controlar a conformidade dos veículos ferroviá...,NaN,NaN,released,2016-12-20T20:02:19Z,NaN,NaN,http://data.europa.eu/esco/concept-scheme/skil...,"Inspecionar o material circulante, componentes..."
4,KnowledgeSkillCompetence,http://data.europa.eu/esco/skill/00090cc1-1f27...,skill/competence,cross-sector,identificar os serviços disponíveis,NaN,NaN,released,2016-12-20T20:15:17Z,NaN,NaN,http://data.europa.eu/esco/concept-scheme/memb...,Identificar os diferentes serviços disponíveis...

In [6]:
occupations.info()
occupations.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2942 entries, 0 to 2941
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   conceptType     2942 non-null   object
 1   occupationUri   2942 non-null   object
 2   iscoGroup       2942 non-null   int64
 3   preferredLabel  2942 non-null   object
 4   altLabels       2521 non-null   object
 5   hiddenLabels    40 non-null     object
 6   status          2942 non-null   object
 7   modifiedDate    2942 non-null   object
 8   description     2942 non-null   object
 9   code            2942 non-null   object
dtypes: int64(1), object(9)
memory usage: 230.0+ KB

,conceptType,occupationUri,iscoGroup,preferredLabel,altLabels,hiddenLabels,status,modifiedDate,description,code
0,Occupation,http://data.europa.eu/esco/occupation/00030d09...,2166,Diretor técnico/Diretora técnica,Diretora técnica\nDiretor técnico,Directora técnica\nDirector técnico,released,2016-07-05T13:58:41Z,Os diretores técnicos realizam as visões artís...,2166.4.7
1,Occupation,http://data.europa.eu/esco/occupation/000e93a3...,8121,Operador de máquinas de trefilagem/Operadora d...,Operador de máquinas de trefilagem\nOperadora ...,NaN,released,2016-07-05T17:09:43Z,Os operadores de máquinas de trefilagem instal...,8121.4
2,Occupation,http://data.europa.eu/esco/occupation/0019b951...,7543,Inspetor de instrumentos de precisão/Inspetora...,Inspetora de instrumentos de precisão\nInspeto...,NaN,released,2016-07-06T09:21:20Z,Os inspetores dos instrumentos de precisão ass...,7543.10.3
3,Occupation,http://data.europa.eu/esco/occupation/0022f466...,3155,Técnico de segurança do tráfego aéreo/Técnica ...,Técnica de segurança do tráfego aéreo\nTécnico...,NaN,released,2017-01-17T11:40:37Z,Os técnicos de segurança do tráfego aéreo pres...,3155.1
4,Occupation,http://data.europa.eu/esco/occupation/002da35b...,2431,Gestor de receitas hoteleiras/Gestora de recei...,Gestora de receitas\nGestor de receitas hotele...,NaN,released,2017-01-17T13:33:42Z,Os gestores de receitas hoteleiras maximizam a...,2431.9

In [7]:
occ_skills_relation.info()
occ_skills_relation.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114393 entries, 0 to 114392
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   occupationUri  114393 non-null  object
 1   relationType   114393 non-null  object
 2   skillType      114393 non-null  object
 3   skillUri       114393 non-null  object
dtypes: object(4)
memory usage: 3.5+ MB

,occupationUri,relationType,skillType,skillUri
0,http://data.europa.eu/esco/occupation/00030d09...,essential,knowledge,http://data.europa.eu/esco/skill/fed5b267-73fa...
1,http://data.europa.eu/esco/occupation/00030d09...,essential,skill/competence,http://data.europa.eu/esco/skill/05bc7677-5a64...
2,http://data.europa.eu/esco/occupation/00030d09...,essential,skill/competence,http://data.europa.eu/esco/skill/271a36a0-bc7a...
3,http://data.europa.eu/esco/occupation/00030d09...,essential,skill/competence,http://data.europa.eu/esco/skill/47ed1d37-971b...
4,http://data.europa.eu/esco/occupation/00030d09...,essential,skill/competence,http://data.europa.eu/esco/skill/591dd514-735b...

In [8]:
merged_df = pd.merge(skills, occ_skills_relation, on=['skillUri'])
assert len(occ_skills_relation) == len(merged_df)
esco_relation = pd.merge(occupations, merged_df, on=['occupationUri'])
assert len(merged_df) == len(esco_relation)

In [9]:
merged_df = pd.merge(skills, occ_skills_relation, on=['skillUri'])
assert len(occ_skills_relation) == len(merged_df)
esco_relation = pd.merge(occupations, merged_df, on=['occupationUri'])
assert len(merged_df) == len(esco_relation)

In [10]:
esco_relation.to_csv('esco_occupation_skills_relation_pt.csv')

In [11]:
esco_relation = pd.read_csv('esco_occupation_skills_relation_pt.csv')
esco_relation.drop(columns='Unnamed: 0', axis=1, inplace=True)

## Creating the ESCO occupation/skills relation dataframe (ENG)

In [12]:
skills_en = pd.read_csv("v1.0.8_eng/skills_en.csv")
occupations_en = pd.read_csv("v1.0.8_eng/occupations_en.csv")
occ_skills_relation = pd.read_csv("v1.0.8/occupationSkillRelations.csv")

skills_en.rename(columns={'conceptUri': 'skillUri'}, inplace=True)
occupations_en.rename(columns={'conceptUri': 'occupationUri'}, inplace=True)

merged_df = pd.merge(skills_en, occ_skills_relation, on=['skillUri'])
assert len(occ_skills_relation) == len(merged_df)
esco_relation = pd.merge(occupations_en, merged_df, on=['occupationUri'])
assert len(merged_df) == len(esco_relation)

merged_df = pd.merge(skills_en, occ_skills_relation, on=['skillUri'])
assert len(occ_skills_relation) == len(merged_df)
esco_relation_en = pd.merge(occupations_en, merged_df, on=['occupationUri'])
assert len(merged_df) == len(esco_relation_en)

esco_relation_en.to_csv('esco_occupation_skills_relation_en.csv')

esco_relation_en = pd.read_csv('esco_occupation_skills_relation_en.csv')
esco_relation_en.drop(columns='Unnamed: 0', axis=1, inplace=True)

c:\Users\gilnr\OneDrive - NOVASBE\Work Project\venv\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [13]:
occupations_en = pd.read_csv("v1.0.8_eng/occupations_en.csv")
occupations = pd.read_csv("v1.0.8/occupations_pt.csv")
skills = pd.read_csv("v1.0.8/skills_pt.csv")
occ_skills_relation = pd.read_csv("v1.0.8/occupationSkillRelations.csv")

In [14]:
occupations.columns

Index(['conceptType', 'conceptUri', 'iscoGroup', 'preferredLabel', 'altLabels',
       'hiddenLabels', 'status', 'modifiedDate', 'description', 'code'],
      dtype='object')

# Merge occupations (portuguese, english) with skills

In [15]:
occupations_en = pd.read_csv("v1.0.8_eng/occupations_en.csv")
occupations = pd.read_csv("v1.0.8/occupations_pt.csv")
skills = pd.read_csv("v1.0.8/skills_pt.csv")
occ_skills_relation = pd.read_csv("v1.0.8/occupationSkillRelations.csv")


skills.rename(columns={'conceptUri': 'skillUri'}, inplace=True)
occupations.rename(columns={'conceptUri': 'occupationUri'}, inplace=True)
occupations_en.rename(columns={'conceptUri': 'occupationUri'}, inplace=True)

merged_occupations = pd.merge(occupations, occupations_en[['preferredLabel', 'altLabels','occupationUri']], on=['occupationUri'])
assert len(occupations) == len(occupations_en) == len(merged_occupations)

merged_df = pd.merge(skills, occ_skills_relation, on=['skillUri'])
assert len(occ_skills_relation) == len(merged_df)

esco_relation = pd.merge(merged_occupations, merged_df, on=['occupationUri'])
assert len(merged_df) == len(esco_relation)

esco_relation.to_csv('esco_occupation_skills_relation.csv')

esco_relation = pd.read_csv('esco_occupation_skills_relation.csv')
esco_relation.drop(columns='Unnamed: 0', axis=1, inplace=True)

# Creating the ESCO Dictionary

In [16]:
from fold_to_ascii import fold as ascii_fold
import json
import re
from nltk.corpus import stopwords

STOPWORDS = stopwords.words('portuguese') + stopwords.words('english')

def normalizeESCOdict(occup: str) -> str:
    if type(occup) is not str:
        return ''
    first_occupation = occup.split('/')[0]
    lowercased_ascii = ascii_fold(first_occupation.lower(), 'REMOVE_ME').replace('REMOVE_ME', '').split(',')[0] # split at , and pick first component
    only_alpha = re.sub(r'[^a-z]', ' ', lowercased_ascii)
    no_stopwords = removeStopwords(only_alpha)
    remove_duplicate_spaces = re.sub(r'\s+', ' ', no_stopwords).strip()
    return remove_duplicate_spaces

def createEscoDict(merged_occupations):
    """Create a dictionary mapping occupations to code, iscoGroup and skills

    Args:
        occupations ([type]): Dataframe of the the occupations for a given language (pt, en, etc...)

    Returns:
        dictionary:
    """
    esco_dict = {}
    for label in merged_occupations[['preferredLabel_x','altLabels_x', 'preferredLabel_y', 'altLabels_y','occupationUri', 'iscoGroup']].itertuples():
        esco_dict[normalizeESCOdict(label.preferredLabel_x)] = {
            'occupationUri':label.occupationUri, 'iscoGroup':label.iscoGroup, 
            'occupation': normalizeESCOdict(label.preferredLabel_x)
            }
        esco_dict[normalizeESCOdict(label.altLabels_x)] = {
            'occupationUri':label.occupationUri, 'iscoGroup':label.iscoGroup, 
            'occupation': normalizeESCOdict(label.preferredLabel_x)
            }
        esco_dict[normalizeESCOdict(label.preferredLabel_y)] = {
            'occupationUri':label.occupationUri, 'iscoGroup':label.iscoGroup, 
            'occupation': normalizeESCOdict(label.preferredLabel_x)
            }
        esco_dict[normalizeESCOdict(label.altLabels_y)] = {
            'occupationUri':label.occupationUri, 'iscoGroup':label.iscoGroup, 
            'occupation': normalizeESCOdict(label.preferredLabel_x)
            }

    esco_aux_dict = esco_dict.copy() 
    for key in esco_aux_dict:
        esco_dict[key]['skills'] = esco_relation.loc[esco_relation['occupationUri']==esco_aux_dict[key]['occupationUri']]['preferredLabel'].to_list()
        
    return esco_dict
    
# with open("esco_dictionary_pt.json", 'w', encoding='utf-8') as file:
#     json.dump(createEscoDict(occupations), file)

# with open("esco_dictionary_en.json", 'w', encoding='utf-8') as file:
#     json.dump(createEscoDict(occupations_en), file)
    
with open("esco_dictionary.json", 'w', encoding='utf-8') as file:
    json.dump(createEscoDict(merged_occupations), file)

In [17]:
with open("esco_dictionary.json", 'r', encoding='utf-8') as file:
    esco_dict = json.load(file)

In [17]:
# from strsimpy.jaro_winkler import JaroWinkler
# from strsimpy.weighted_levenshtein import WeightedLevenshtein

# def matchTitle(x:str) -> str:
#     # locations_dict = locationsDictionary(pd.read_excel("freguesias-metadata.xlsx"))
#     if x in esco_dict: # exact match
#         return esco_dict[x]['occupation']
#     elif x in esco_dict_en:
#         return esco_dict_en[x]['occupation']
#     else:
#         # jarowinkler = JaroWinkler()
#         weightedlevenstein = WeightedLevenshtein()
#         # job, sim = max([(esco_dict[job]['occupation'], jarowinkler.similarity(x, job)) for job in esco_dict], key=lambda x: x[1])
#         job, sim = min([(esco_dict[job]['occupation'], weightedlevenstein.distance(x, job)) for job in esco_dict], key=lambda x: x[1])
#         # if sim >= 0.6:
#         #     return job, sim
#         return job, sim
#         # else: # no similarity match
#         #     return f"NOT FOUND - {x} , {job}, {sim}"

In [19]:
FOLDER_PATH = "/Users/gilnr/OneDrive - NOVASBE/Work Project/Code/ESCO project/"

# Load Data
data = pd.read_json(FOLDER_PATH + 'esco_project_data.json')

In [19]:
# from preprocessing_functions import cleanJobTitle

# for i in data.job_title[:10].to_list():
#     print(i, '-->', cleanJobTitle(i), '-->', matchTitle(cleanJobTitle(i)))
#     # print(i)

## Getting Exact Matches between scraped Job titles and the ESCO database

In [20]:
from preprocessing_functions import cleanJobTitle

def exactMatchTitle(x:str) -> str:
    # locations_dict = locationsDictionary(pd.read_excel("freguesias-metadata.xlsx"))
    if x in esco_dict: # exact match
        return esco_dict[x]['occupation']
    else:
        return "NOT EXACT"
    
test = data.copy()
test['esco_exact_match'] = pd.DataFrame(test.job_title.apply(lambda x: exactMatchTitle(cleanJobTitle(x))))
count = test.loc[test['esco_exact_match'] !='NOT EXACT']['esco_exact_match'].count()
print('There are ', count, ' exact ESCO matches from a total of ', len(test), 'jobs. This is approximatly', round(count/len(test),4)*100,'% of jobs')

There are  9363  exact ESCO matches from a total of  109140 jobs. This is approximatly 8.58 % of jobs

## Matching Using Similarity Measures

In [29]:
from thefuzz import fuzz
from preprocessing_functions import cleanJobTitle

def matchTitle(x:str) -> str:
    if x in esco_dict: # exact match
        return esco_dict[x]['occupation']
    else:
        job, sim = max([(esco_dict[job]['occupation'], fuzz.token_set_ratio(x, job)) for job in esco_dict], key=lambda x: x[1])
        if sim >= 80:
            return job, sim
        else: # no similarity match
            return f"NOT FOUND - {x} | {job} ({sim})"
        

for i in data.job_title.sample(10).to_list():
    print(i, '-->', cleanJobTitle(i), '-->', matchTitle(cleanJobTitle(i)))

administrativo --> administrativo --> ('assistente administrativo servicos juridicos', 100)
empregado balcao mesas --> empregado balcao mesas --> ('empregado balcao posto correio', 84)
vaga --> vaga --> NOT FOUND - vaga | ama (57)
formador ccp modulo disponibilidade imediata rio maior --> formador ccp modulo disponibilidade imediata rio maior --> ('formador tic', 80)
comerciais outbound telecomunicacoes lisboa --> comerciais outbound telecomunicacoes lisboa --> ('gestor telecomunicacoes', 82)
admissao motorista internacional --> admissao motorista internacional --> NOT FOUND - admissao motorista internacional | motorista taxis (75)
recruta formador decoracao interiores braga --> recruta formador decoracao interiores braga --> ('formador tic', 80)
tripulante ambulancia --> tripulante ambulancia --> NOT FOUND - tripulante ambulancia | tripulante cabine (74)
tech principal --> tech principal --> ('chef principal', 86)
agile coach scrum master --> agile coach scrum master --> NOT FOUND - agile coach scrum master | responsavel aderecos (71)

# Similarity Matching all unique values

In [21]:
def similarityMatchTitle(x:str) -> str:
    job, sim = max([(esco_dict[job]['occupation'], fuzz.token_set_ratio(x, job)) for job in esco_dict], key=lambda x: x[1])
    if sim >= 90:
        return job
    else: # no similarity match
        return f"NOT FOUND - {x} | {job} ({sim})"
        # return "NOT FOUND - {job}"

In [22]:
from tqdm.notebook import tqdm

In [33]:
unique_job_titles = test['job_title'].apply(lambda x: cleanJobTitle(x)).unique()
unique_similarities_dict = {job:similarityMatchTitle(job) for job in tqdm(unique_job_titles)}

  0%|          | 0/48849 [00:00<?, ?it/s]

In [ ]:
test['job_title'] = test['job_title'].apply(lambda x: cleanJobTitle(x))
test['similarity_match'] =  test['job_title'].map(unique_similarities_dict)

In [162]:
test['job_title'] = test.job_title.apply(lambda x: cleanJobTitle(x))

In [165]:
test['esco_similarity_match'] = test.job_title.apply(lambda x: similarityMatchTitle(x))

In [169]:
# with open('full_data_with_esco_similarity_titles.json', 'w', encoding='utf-8') as file:
#     test.to_json(file, force_ascii=False, orient='records', date_format='iso', date_unit='s')

In [174]:
mask = test['esco_similarity_match'].str.contains('NOT FOUND', case=True, na=False)
print('There are', len(test)-len(test[mask]), 'approximate ESCO matches at 90% match, that is ', round((len(test)-len(test[mask]))/len(test),4)*100,'% of total')

There are 37211 approximate ESCO matches at 90% match, that is  33.06 % of total

Titles were pre-processed according to the
following steps: 
- (i) html tag removal, 
- (ii) html entities and symbol
replacement, 
- (iii) tokenization, 
- (iv) lower case reduction, 
- (v) stop
words removal (using the stop-words list provided by the NLTK
framework [26]), 
- (vi) stemming (using the Snowball stemmer),
- (vii) n-grams frequency computation (actually, unigram and bigram frequencies were computed, n-grams which appear less than
4 times or that appear in more than 30% of the documents are discarded, since they are not significant for classification). Each title is
pre-processed according to the previous steps and is transformed
into a set of n-gram frequencies

In [180]:
test = pd.read_json('full_data_with_esco_similarity_titles.json')

In [191]:
mask = test['esco_similarity_match'].str.contains('NOT FOUND', case=False, na=False)
test[~mask][['job_title','esco_similarity_match']]

                                            job_title   esco_similarity_match
1                       procuramos designer grafico a        designer grafico
2                                    designer grafico        designer grafico
4       area de marketing e comunicacao gestor junior     gestor de marketing
6                                   marketeer digital               marketeer
12                      gestor marketing e e commerce     gestor de marketing
...                                               ...                     ...
112540                         tecnico eletromecanico          eletromecanico
112541                            assistente dentaria     assistente dentario
112543                            operador de armazem     operador de armazem
112549                                      bagageiro  bagageiro de aeroporto
112554         gerente de loja burger king porto alto         gerente de loja

[37211 rows x 2 columns]