In [1]:
import pandas as pd

In [9]:
skills = pd.read_csv("v1.0.8/skills_pt.csv")
occupations = pd.read_csv("v1.0.8/occupations_pt.csv")
occ_skills_relation = pd.read_csv("v1.0.8/occupationSkillRelations.csv")

In [15]:
skills.rename(columns={'conceptUri': 'skillUri'}, inplace=True)
occupations.rename(columns={'conceptUri': 'occupationUri'}, inplace=True)

In [42]:
skills.info()
skills.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13485 entries, 0 to 13484
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   conceptType     13485 non-null  object
 1   skillUri        13485 non-null  object
 2   skillType       13485 non-null  object
 3   reuseLevel      13485 non-null  object
 4   preferredLabel  13485 non-null  object
 5   altLabels       594 non-null    object
 6   hiddenLabels    32 non-null     object
 7   status          13485 non-null  object
 8   modifiedDate    13485 non-null  object
 9   scopeNote       0 non-null      float64
 10  definition      0 non-null      float64
 11  inScheme        13485 non-null  object
 12  description     13485 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.3+ MB

,conceptType,skillUri,skillType,reuseLevel,preferredLabel,altLabels,hiddenLabels,status,modifiedDate,scopeNote,definition,inScheme,description
0,KnowledgeSkillCompetence,http://data.europa.eu/esco/skill/0005c151-5b5a...,skill/competence,sector-specific,gerir músicos,NaN,NaN,released,2016-12-20T17:43:43Z,NaN,NaN,http://data.europa.eu/esco/concept-scheme/skil...,Atribuir e gerir as tarefas do pessoal em área...
1,KnowledgeSkillCompetence,http://data.europa.eu/esco/skill/00064735-8fad...,skill/competence,occupation-specific,supervisionar procedimentos correcionais,NaN,NaN,released,2020-06-12T06:40:42.536Z,NaN,NaN,http://data.europa.eu/esco/concept-scheme/memb...,Supervisionar as operações de uma instalação c...
2,KnowledgeSkillCompetence,http://data.europa.eu/esco/skill/000709ed-2be5...,skill/competence,sector-specific,aplicar práticas anti-repressivas,NaN,NaN,released,2016-12-20T19:18:19Z,NaN,NaN,http://data.europa.eu/esco/concept-scheme/skil...,"Identificar a repressão em sociedades, economi..."
3,KnowledgeSkillCompetence,http://data.europa.eu/esco/skill/0007bdc2-dd15...,skill/competence,sector-specific,controlar a conformidade dos veículos ferroviá...,NaN,NaN,released,2016-12-20T20:02:19Z,NaN,NaN,http://data.europa.eu/esco/concept-scheme/skil...,"Inspecionar o material circulante, componentes..."
4,KnowledgeSkillCompetence,http://data.europa.eu/esco/skill/00090cc1-1f27...,skill/competence,cross-sector,identificar os serviços disponíveis,NaN,NaN,released,2016-12-20T20:15:17Z,NaN,NaN,http://data.europa.eu/esco/concept-scheme/memb...,Identificar os diferentes serviços disponíveis...

In [17]:
occupations.info()
occupations.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2942 entries, 0 to 2941
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   conceptType     2942 non-null   object
 1   occupationUri   2942 non-null   object
 2   iscoGroup       2942 non-null   int64
 3   preferredLabel  2942 non-null   object
 4   altLabels       2521 non-null   object
 5   hiddenLabels    40 non-null     object
 6   status          2942 non-null   object
 7   modifiedDate    2942 non-null   object
 8   description     2942 non-null   object
 9   code            2942 non-null   object
dtypes: int64(1), object(9)
memory usage: 230.0+ KB

,conceptType,occupationUri,iscoGroup,preferredLabel,altLabels,hiddenLabels,status,modifiedDate,description,code
0,Occupation,http://data.europa.eu/esco/occupation/00030d09...,2166,Diretor técnico/Diretora técnica,Diretora técnica\nDiretor técnico,Directora técnica\nDirector técnico,released,2016-07-05T13:58:41Z,Os diretores técnicos realizam as visões artís...,2166.4.7
1,Occupation,http://data.europa.eu/esco/occupation/000e93a3...,8121,Operador de máquinas de trefilagem/Operadora d...,Operador de máquinas de trefilagem\nOperadora ...,NaN,released,2016-07-05T17:09:43Z,Os operadores de máquinas de trefilagem instal...,8121.4
2,Occupation,http://data.europa.eu/esco/occupation/0019b951...,7543,Inspetor de instrumentos de precisão/Inspetora...,Inspetora de instrumentos de precisão\nInspeto...,NaN,released,2016-07-06T09:21:20Z,Os inspetores dos instrumentos de precisão ass...,7543.10.3
3,Occupation,http://data.europa.eu/esco/occupation/0022f466...,3155,Técnico de segurança do tráfego aéreo/Técnica ...,Técnica de segurança do tráfego aéreo\nTécnico...,NaN,released,2017-01-17T11:40:37Z,Os técnicos de segurança do tráfego aéreo pres...,3155.1
4,Occupation,http://data.europa.eu/esco/occupation/002da35b...,2431,Gestor de receitas hoteleiras/Gestora de recei...,Gestora de receitas\nGestor de receitas hotele...,NaN,released,2017-01-17T13:33:42Z,Os gestores de receitas hoteleiras maximizam a...,2431.9

In [18]:
occ_skills_relation.info()
occ_skills_relation.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114393 entries, 0 to 114392
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   occupationUri  114393 non-null  object
 1   relationType   114393 non-null  object
 2   skillType      114393 non-null  object
 3   skillUri       114393 non-null  object
dtypes: object(4)
memory usage: 3.5+ MB

,occupationUri,relationType,skillType,skillUri
0,http://data.europa.eu/esco/occupation/00030d09...,essential,knowledge,http://data.europa.eu/esco/skill/fed5b267-73fa...
1,http://data.europa.eu/esco/occupation/00030d09...,essential,skill/competence,http://data.europa.eu/esco/skill/05bc7677-5a64...
2,http://data.europa.eu/esco/occupation/00030d09...,essential,skill/competence,http://data.europa.eu/esco/skill/271a36a0-bc7a...
3,http://data.europa.eu/esco/occupation/00030d09...,essential,skill/competence,http://data.europa.eu/esco/skill/47ed1d37-971b...
4,http://data.europa.eu/esco/occupation/00030d09...,essential,skill/competence,http://data.europa.eu/esco/skill/591dd514-735b...

In [24]:
merged_df = pd.merge(skills, occ_skills_relation, on=['skillUri'])
assert len(occ_skills_relation) == len(merged_df)
esco_relation = pd.merge(occupations, merged_df, on=['occupationUri'])
assert len(merged_df) == len(esco_relation)

In [ ]:
merged_df = pd.merge(skills, occ_skills_relation, on=['skillUri'])
assert len(occ_skills_relation) == len(merged_df)
esco_relation = pd.merge(occupations, merged_df, on=['occupationUri'])
assert len(merged_df) == len(esco_relation)

In [31]:
esco_relation.to_csv('esco_occupation_skills_relation.csv')

In [39]:
esco_relation = pd.read_csv('esco_occupation_skills_relation.csv')
esco_relation.drop(columns='Unnamed: 0', axis=1, inplace=True)

In [41]:
esco_relation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114393 entries, 0 to 114392
Data columns (total 25 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   conceptType_x     114393 non-null  object
 1   occupationUri     114393 non-null  object
 2   iscoGroup         114393 non-null  int64
 3   preferredLabel_x  114393 non-null  object
 4   altLabels_x       99255 non-null   object
 5   hiddenLabels_x    1621 non-null    object
 6   status_x          114393 non-null  object
 7   modifiedDate_x    114393 non-null  object
 8   description_x     114393 non-null  object
 9   code              114393 non-null  object
 10  conceptType_y     114393 non-null  object
 11  skillUri          114393 non-null  object
 12  skillType_x       114393 non-null  object
 13  reuseLevel        114393 non-null  object
 14  preferredLabel_y  114393 non-null  object
 15  altLabels_y       7204 non-null    object
 16  hiddenLabels_y    518 non-null     object
 17  status_y          114393 non-null  object
 18  modifiedDate_y    114393 non-null  object
 19  scopeNote         0 non-null       float64
 20  definition        0 non-null       float64
 21  inScheme          114393 non-null  object
 22  description_y     114393 non-null  object
 23  relationType      114393 non-null  object
 24  skillType_y       114393 non-null  object
dtypes: float64(2), int64(1), object(22)
memory usage: 21.8+ MB